<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- Syntax coloration -->
		<link rel="stylesheet" type="text/css" href="/static/_examples_data/prism/prism.css" />
		<!-- This page style -->
		<link rel="stylesheet" type="text/css" href="/static/_examples_data/style.css" />
		<!-- Flight Indicators library styles -->
		<link rel="stylesheet" type="text/css" href="/static/css/flightindicators.css" />
		<title>jQuery Flight Indicators Plugin</title>
	</head>
	<body>
		<div id="screen"></div>
		<span id="airspeed"></span>
		<span id="attitude"></span>
		<span id="altimeter"></span><br>
		<span id="heading"></span>
		<span id="variometer"></span>

		<!-- Importing jQuery library -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

		<!-- Importing the FlightIndicators library -->
		<script src="/static/js/jquery.flightindicators.js"></script>

		<script type="text/javascript">
			// Update at 20Hz
			setInterval(function() {
				// Get instrument data from webserver
				$.get(
					"/indicatorData",
					function(data) {
    					var instSize = window.innerWidth / 3.1;
				
        				var attitude = $.flightIndicator('#attitude', 'attitude', {size:instSize, roll:50, pitch:-20, showBox : true});
        				var heading = $.flightIndicator('#heading', 'heading', {size:instSize, heading:150, showBox:true});
        				var variometer = $.flightIndicator('#variometer', 'variometer', {size:instSize, vario:-5, showBox:true});
        				var airspeed = $.flightIndicator('#airspeed', 'airspeed', {size:instSize, showBox: false});
        				var altimeter = $.flightIndicator('#altimeter', 'altimeter', {size:instSize});
					
    					var indicatorData = JSON.parse(data)
    					
    					console.log(data)
						
						// Update padding for proper alignment
        				document.getElementById("heading").style.paddingLeft = String(instSize + 5) + "px";
        				
        				// Attitude update
        				attitude.setRoll(indicatorData.roll);
        				attitude.setPitch(indicatorData.pitch);
        				
        				// Heading update
        				heading.setHeading(indicatorData.heading);
        				
        				// Vario update
        				variometer.setVario(indicatorData.vario);
        				
        				// Airspeed update
        				airspeed.setAirSpeed(indicatorData.airspeed);
        				
        				// Altimeter update
        				altimeter.setAltitude(indicatorData.altitude);
        				altimeter.setPressure(1000);
					}
				);
			}, 50);
		</script>
	</body>
</html>